<a href="https://colab.research.google.com/github/MK316/classtools/blob/main/CreateSample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sample data creation

In [1]:
import pandas as pd
import numpy as np
import random

In [24]:
# Create sample

mean = 76.2
sd = 23.8
samples = 30
sample = np.random.normal(mean, stdd, samples)

print(sample)
type(sample)

[ 84.75038333  99.61136171 108.38763398  63.89442907  90.41876493
  87.18760473  98.51076712  45.98418062  37.07263117 100.67510038
  96.80166534  90.17801363  53.34503511  86.11141222  78.19803231
  70.40012251  85.55878145  61.3774365   72.94317864  34.89591714
  81.96848195  99.03301129  79.14442402  62.48032716  91.22768384
  90.53529257  70.46758476  66.52065002  55.5534403   90.31878961]

numpy.ndarray

In [ ]:
d1 = pd.DataFrame()
d1['Grade'] = sample
d1

In [21]:
#@markdown Create sample (list) with mean, sd: data name ('sample')

m = input("Mean: ")
s = input("Standard Deviation: ")
n = input("Sample: ")
mean = float(m)
stdd = float(s)
samples = int(n)

sample = np.random.normal(mean, stdd, samples)
sample = [round(sam,1) for sam in sample]
print(sample)

Mean: 76
Standard Deviation: 21
Sample: 20
[111.3, 57.2, 78.0, 69.3, 76.7, 70.3, 54.5, 84.0, 66.7, 100.3, 64.2, 85.4, 56.1, 67.8, 69.0, 85.3, 90.4, 65.3, 84.9, 103.5]

You can create a dataframe with numpy.nparray
However, the following is a way to change numpy.npaprray to a list

In [18]:
# Data type convert: numpy.ndarray to list
sample = sample.tolist()

The following code will take a column name and save 'sample' data as its value (additive)

In [58]:
#@markdown ðŸ“ŒðŸ“Œ Step [1] Run this only once
sn = input("How many items in columns: ")
sn = int(sn)
data = pd.DataFrame()

How many items in columns: 30

In [81]:
#@markdown Step [2] Create sample (list) with mean, sd: data name ('sample')

m = input("Mean: ")
s = input("Standard Deviation: ")
mean = float(m)
stdd = float(s)

# mean, stdd, samples = 56, 12, 10
sample = np.random.normal(mean, stdd, sn+20)
sample_range = (sample >= 0) & (sample <= 100)
sample = sample[sample_range]
sample = np.random.choice(sample, sn)

sample = [round(sam,1) for sam in sample]
print(sample)
len(sample)

Mean: 65
Standard Deviation: 12.5
[69.5, 25.4, 62.1, 69.5, 60.2, 53.5, 74.0, 25.4, 74.4, 84.1, 63.8, 54.2, 66.8, 44.8, 63.8, 25.4, 52.7, 67.2, 63.8, 59.2, 63.3, 64.6, 74.1, 59.2, 76.2, 60.3, 60.2, 66.2, 50.0, 25.4]

30

In [71]:
#@markdown Step [3] Dataframe

newdata = input("Create a new dataframe or add a column? (e.g., new or add)")
colname = input("Column name for sample data: ")

if newdata == "new":
  df1 = pd.DataFrame()
  df1[colname] = sample
  data = df1
  print(df1)
elif newdata == "add":
  data[colname] = sample
  print(data)

Create a new dataframe or add a column? (e.g., new or add)add
Column name for sample data: soc
     Ko   En  soc
0   0.0  0.2  0.2
1   0.5  0.8  0.8
2   0.6  1.0  1.0
3   0.1  0.9  0.9
4   1.0  0.8  0.8
5   0.8  0.1  0.1
6   0.3  0.8  0.8
7   0.6  0.9  0.9
8   1.0  0.6  0.6
9   0.6  0.5  0.5
10  0.5  0.3  0.3
11  0.1  0.3  0.3
12  0.7  0.1  0.1
13  0.9  0.2  0.2
14  0.9  0.2  0.2
15  0.4  0.8  0.8
16  0.9  0.4  0.4
17  0.0  0.6  0.6
18  0.1  0.6  0.6
19  0.1  0.6  0.6
20  0.7  0.6  0.6
21  0.6  0.6  0.6
22  0.2  0.6  0.6
23  0.9  0.9  0.9
24  0.0  0.6  0.6
25  0.2  0.8  0.8
26  0.0  0.6  0.6
27  0.4  0.1  0.1
28  0.9  0.2  0.2
29  0.1  0.3  0.3

In [39]:
data

     Math
0   100.2
1    90.4
2    59.7
3    61.3
4    52.2
5    46.9
6    21.1
7    84.2
8    52.4
9    26.6
10   47.5
11   90.7
12   69.5
13   66.7
14   62.7
15   68.0
16   77.9
17   49.8
18   15.5
19   30.4
20   63.7
21   65.7
22   81.4
23   62.1
24   62.2
25   82.9
26   31.4
27   52.0
28  106.1
29   74.2